<div class="caja">
    <div class="prueba">
        <div class="caj">
            <div class="derecha">
            <img src="../../assets/arg-programa.png" id="logo">
            <h1 class="dp-">#YoProgramo</h1></div>
            <div class="redes">
                <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                <li class="nav-item "><div class="red"> <a class="nav-link py-2 px-0 px-lg-2" href="https://www.linkedin.com/in/faciano-angel-9712a2151/" target="_blank" rel="noopener">
                    <i class="bi bi-linkedin"></i>
                </a></div></li>
                <li class="nav-item "><div class="red"><a class="nav-link py-2 px-0 px-lg-2" href="https://www.facebook.com/angel.faciano" target="_blank" rel="noopener">
                    <i class="bi bi-facebook"></i>
                </a></div></li>
                <li class="nav-item "><div class="red"><a class="nav-link py-2 px-0 px-lg-2" href="https://twitter.com/fernandofaciano" target="_blank" rel="noopener">
                    <i class="bi bi-twitter"></i>
                </a></div></li>
                <li class="nav-item  "><div class="red"><a class="nav-link py-2 px-0 px-lg-2" href="https://github.com/angelfaa" target="_blank" rel="noopener">
                    <i class="bi bi-github"></i>
                </a></div></li>
                <li class="nav-item  "><div class="red"><a class="nav-link py-2 px-0 px-lg-2" href="https://www.instagram.com/angelfaciano" target="_blank" rel="noopener">
                    <i class="bi bi-instagram"></i>
                </a></div></li>
                <li class="nav-item "><div class="red"><button class="btn btn-outline-danger "(click)="login()"*ngIf="!isLogged">Ingreso</button></div></li>                
                <li class="nav-item "><div class="red"><button class="btn btn-outline-danger "(click)="onLogOut()"*ngIf="isLogged">Cerrar Sesion</button></div></li>
                </ul>
                
            </div>  
        </div>
        
            <img class="img col-12" src="../../../assets/JOP_Smart_fullstack_1440_koulutuskortti_0.png" alt="">
    </div>
    </div>
