<div class="row principal">
    <h1 class="titulo">Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="row" style="margin-bottom:50px">
            <div class="col-sm-6">
                <h1>Pagina Abogados</h1>
                <p>La tarea tenia concistia en hacer la parte del frontEnd de una pagina con contenido que tendria que estar vinculado al tema de la abogacia y un formulario para para que se ponga en contacto con el cliente </p>
            </div>
            
            <div class="col-sm-6">
                <a href="https://frontendproyecto-d638d.web.app/pro1" target="_blink"><img class="img-fluid" src="../../../assets/pagina.png"></a>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-6">
                <h1>Encriptador</h1>
                <p>La tarea era crear una pagina siguiendo una maqueta con la funcionalidad de encriptar un msj y dps desencriptar</p>
            </div>

            <div class="col-sm-6">
                <a href="https://angelfaa.github.io/-challengeonecodificador2/" target="_blink"><img class="img-fluid" src="../../../assets/Sin título.png"></a>
            </div>
        </div>
    </div>
</div>