<header class="cabecera content">
    <div class="barra">
        <img class="imagen"src="../../../assets/IMAGEN-ab/LOGO.png" alt="">          
        <div class="nav">             
            <ul>
                <li class="lista"><a href="#">PROFESIONALES</a></li>
                <li class="lista especializaciones"id="esp"><a href="#">ESPECIALIZACIONES</a></li>
                <li class="lista "id="asesoramiento"><a href="#">ASESORAMIENTO</a></li>
                <li class="lista"><a href="#">CONSULTA REMOTA</a></li>
                <li class="lista"><a href="#">NOSOTROS</a></li>                                      
                <li class="lista"><a href="#">CONTACTO</a></li>
            </ul>                
        </div>
        
    </div>
    <div id="op1"class="opcion1 esconder">
        <ul class="listaOp">
            <li><a href="#">PENAL</a></li>
            <li><a href="#">CIVIL</a></li>
            <li><a href="#">LABORAL</a></li>
            <li><a href="#">FAMILIA</a></li>  
            <li><a href="#">MIGRACION</a></li>  
            <li><a href="#">DEFENSA AL CONSUMIDOR</a></li>                                  
        </ul>
    </div>
    <div id="op2"class="opcion2 esconder">
        <ul class="listaOp">
            <li><a href="#">CONSULTA ESCRITA</a></li>
            <li><a href="#">CONSULTA ORAL( PRESENCIAL , LLAMADA )</a></li>
            <li><a href="#">CONSULTA REMOTA</a></li>
        </ul>
    </div>
</header>
