body{
    margin:0;
}
.content{
    width:95%;
    margin: auto;
}
.barra{
    display:flex;
    justify-content:space-between;
}
.imagen{
    margin-top: 10px;
    width:150px;
    height:150px;
    border-radius: 100%;
}
.nav ul{
    margin:0;
}
.nav li{
    display: inline;
    font-weight: 20PX;
    font-family: serif;
    margin-bottom: 0;
}
.nav a ,.listaOp a{
    color:#000;    
    text-decoration:none;
    font-size: 0.8em;
    
}
.lista{
    padding:10px;
}
.nav{
    margin-right:20px;
    display:flex;
    align-items: flex-end;
}
.lista:hover,.lis{
    font-weight: 20PX;
    background-color:#000;
    border-radius: 5px ;        
}
.lista:hover a,.listaOp a,.lis a{
    color:rgba(226, 224, 224, 0.788);
}
.opcion1,.opcion2{
    top:165px;
    position:absolute;
    display:flex;
    justify-content: flex-end;
    width: 95%;
    color:#fff;
    background-color: #000;
    
}
.esconder{
    display:none ;
}
.listaOp li{
    display: inline;
    font-size: 0.7em;
}
.listaOp a{
    font-size: 1em;
    color:#fff;
    margin:0 5px
}
.listaOp a:hover{
    color:rgb(165, 165, 165);
}
.opcion1:hover{
    display:flex;
    justify-content: flex-end;
    
}
.opcion2:hover{
    display:flex;
    justify-content: flex-end;
    color:#000;
}
@media screen and (max-width: 1032px){
    #select{
        margin:0 0 20px 10%;
    }
}
@media screen and (max-width: 1011px){
    .opcion1 ,.opcion2{
        top:145px;
    }
}
@media screen and (max-width: 800px){
    .opcion1 ,.opcion2{
        top:180px;
    }
    .barra{
        display:inline;
    }
    .nav ul{
        margin:0;
        padding:0;
    }
    .nav li{
        display: inline;
        font-family: serif;
        margin-bottom: 0;
    }
    .nav a{
        text-decoration:none;
        font-size:0.7em
        
    }
    .listaOp a{
        color:#fdd;
    }
    .lista{
        padding:10px;
    }
    .nav{
        margin-right:0;
        display:block;
    }
}
@media screen and (max-width: 538px){    
    .opcion1,.opcion2{
        top:190px;
    }
    .botonimg{
        width:40px;
        padding:0;
        height: 40px;display:flex;
        position: relative;
        top:100px;
        background-color: #fff;
        border-radius: 8px;
    }   
    .nav{
        display:flex;
        position:absolute;
        z-index: 3;
        top: 170px;
        
    }    
}