<div class="row1">
    <h1>Hard & Soft Skills</h1>
    <div class="container">
        <div class="row">
            <div class="text-center col-sm-3">
                <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../../../assets/iconos/html.png'"
                    [imageWidth]="100" [imageHeight]="100" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
                    [outerStrokeWidth]="0" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
            </div>
            <div class="text-center col-sm-3">
                <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../../../assets/iconos/css.png'"
                    [imageWidth]="80" [imageHeight]="100" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
                    [outerStrokeWidth]="0" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
            </div>
            <div class="text-center col-sm-3">
                <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../../../assets/iconos/descarga__2_-removebg-preview.png'"
                    [imageWidth]="110" [imageHeight]="80" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
                    [outerStrokeWidth]="0" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
            </div>
            <div class="text-center col-sm-3">
                <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../../../assets/iconos/js-removebg-preview.png'"
                    [imageWidth]="120" [imageHeight]="100" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
                    [outerStrokeWidth]="0" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-sm-3">
                <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../../../assets/iconos/angular.png'"
                    [imageWidth]="100" [imageHeight]="80" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
                    [outerStrokeWidth]="0" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
            </div>
            <div class="text-center col-sm-3">
                <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../../../assets/iconos/descarga-removebg-preview.png'"
                    [imageWidth]="120" [imageHeight]="60" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
                    [outerStrokeWidth]="0" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
            </div>
            <div class="text-center col-sm-3">
                <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../../../assets/iconos/descarga__1_-removebg-preview.png'"
                    [imageWidth]="120" [imageHeight]="70" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
                    [outerStrokeWidth]="0" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
            </div>
            <div class="text-center col-sm-3">
                <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../../../assets/iconos/mysql.png'"
                    [imageWidth]="100" [imageHeight]="80" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
                    [outerStrokeWidth]="0" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-sm-3">
                <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../../../assets/iconos/grupal.png'"
                    [imageWidth]="100" [imageHeight]="80" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
                    [outerStrokeWidth]="0" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
            </div>
            <div class="text-center col-sm-3">
                <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../../../assets/iconos/eng.png'"
                    [imageWidth]="100" [imageHeight]="80" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
                    [outerStrokeWidth]="0" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
            </div>            
        </div>
    </div>
</div>