<section class="background-radial-gradient overflow-hidden vh-100">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start">
    <div class="row gx-lg-5 align-items-center ">
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
              <div class="Volver">
                <button class="volve" routerLink=""><i class="bi bi-arrow-bar-left"></i><span style="font-size:1.5rem">Inicio</span></button>
              </div>
              <h1 class="mb-5 text-center">Login</h1>
              <div class="form-outline mb-4">
                <div class="p1"><span id="sp1" class="off error">ingrese un usuario valido<i class="bi bi-exclamation"></i></span ><span id="sp2"class="off error">Usuario incorrecto<i class="bi bi-exclamation"></i></span></div>
                <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control"(focus)="log()"[(ngModel)]="nombreUsuario" required />
                <div class="lab">
                  <label class="form-label" for="nombreUsuario">Nombre de Usuario</label>
                </div>
              </div>
              <div class="form-outline mb-4">
                <div class="P2"><span id="sp3"class="off error">ingrese un password valido<i class="bi bi-exclamation"></i></span ><span class="off error"id="sp4">Password incorrecto<i class="bi bi-exclamation"></i></span></div>
                <input type="password" id="password" name="password" class="form-control"(focus)="log1()"[(ngModel)]="password"
                  required />
                <div class="lab">
                  <label class="form-label" for="form3Example4">Password</label>
                </div>
              </div>
              <div class="btnd">
                <button type="submit" style="width: 70% ;height:40px" class="btn  btn-outline-primary mb-4"(click)='verificar()'>
                  Iniciar Sesión
                </button>
              </div>
              <div class="text-center">
                <p><a href="#"style="text-decoration: none">¿Olvidaste tu contraseña?</a></p>
              </div>
              <div class="btnd">
                <button type="button" style="width: 70% ;height:40px" routerLink="/registro"class="btn btn-outline-success ">
                  Crear una cuenta nueva
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Inicia sesión  <br />
          <span style="color: hsl(218, 81%, 75%)">O Crea una cuenta</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Inicia sesion para tener acceso a tu cuenta y podras agregar tu experiencia laboral y tu Educacion
          tambien podras modificarla <br>
          Si no tenes una cuenta podes create una Para tener acceso a la opciones.
        </p>
      </div>
    </div>
  </div>
  
</section>