<div class="row1">
    <div class="row">
        <div class="col-sm-6">
                <div class="fotito">
                    <img src="../../../assets/foto.png" class="imagen"alt="">
                </div>
                <div class="info">
                    <h3> Faciano Fernando Angel // <span>Full Stack Developer Jr.</span></h3>
            </div>
        </div>
        <div class="acerca col-sm-6">
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti unde, doloribus sequi, cupiditate ipsa corporis tempore maiores id pariatur quis deserunt eius eveniet, aliquam assumenda voluptates in nisi rem architecto! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti unde, doloribus sequi, cupiditate ipsa corporis tempore maiores id pariatur quis deserunt eius eveniet, aliquam assumenda voluptates in nisi rem architecto! </p>
        </div>        
    </div>
</div>